{% extends "base.html" %}
{% load static %}
{% block hero %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <img class="d-block w-100" src="{% static 'images/S1.png' %}" alt="First slide" height="500px" width="400px">
    </div>
    <div class="carousel-item">
    <img class="d-block w-100" src="{% static 'images/S2.png' %}" alt="Second slide"height="500px" width="400px">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'images/S3.png' %}" alt="Third slide" height="500px" width="400px">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'images/S4.png' %}" alt="Fourth slide" height="500px" width="400px">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'images/S5.png' %}" alt="Fifth slide" height="500px" width="400px">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'images/S6.png' %}" alt="Sixth slide" height="500px" width="400px">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>
{% endblock hero%}

{% block content %}
<div class="section-title">Trending In Sports</div>
    
<div class="drama-slider-container">
    <button class="drama-nav-button prev" onclick="slideLeft()">‹</button>
    <button class="drama-nav-button next" onclick="slideRight()">›</button>
    
    <div class="drama-slider-wrapper" id="dramaSliderWrapper">
        <div class="drama-slide">
            
            <img src="{% static 'images/SS1.avif' %}" alt="Bade Achhe Lagte Hain">
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/SS2.avif' %}" alt="Pukaaar">
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/SS3.avif' %}" alt="Kaya">
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/SS4.avif' %} "alt="Baatein Ye Pata Hai">
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/SS5.avif' %}" alt="Barsatein">
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/SS6.avif' %}" alt="Katha">
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/SS7.avif' %}" alt="Show 7">
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/SS8.avif' %}" alt="Pashminna">
            
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/SS9.avif' %}" alt="Show 9">
        </div>

        <div class="drama-slide">
            <img src="{% static 'images/SS10.avif' %}" alt="Show 9">
        </div>

        <div class="drama-slide">
            <img src="{% static 'images/SS11.avif' %}" alt="Show 9">
        </div>

        <div class="drama-slide">
            <img src="{% static 'images/SS12.avif' %}" alt="Show 9">
        </div>

        <div class="drama-slide">
            <img src="{% static 'images/SS13.avif' %}" alt="Show 9">
        </div>

        </div>
    </div>
</div>
{% endblock content %}


{% block midcontent %}
<div class="section-title">Popular in Drama</div>
    
<div class="drama-slider-container">
    <button class="drama-nav-button prev" onclick="slideLeft()">‹</button>
    <button class="drama-nav-button next" onclick="slideRight()">›</button>
    
    <div class="drama-slider-wrapper" id="dramaSliderWrapper">
        <div class="drama-slide">
            <img src="{% static 'images/Ls1.avif' %}" alt="Bade Achhe Lagte Hain">
            <div class="drama-slide-overlay">
                <div class="drama-slide-title">BADE ACHHE LAGTE HAIN</div>
                <div class="drama-slide-subtitle">NEW SEASON</div>
            </div>
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/Ls2.avif' %}" alt="Pukaaar">
            <div class="drama-slide-overlay">
                <div class="drama-slide-title">PRITHVIRAJ CHOUHAN</div>
                <div class="drama-slide-subtitle">PERIODIC DRAMA</div>
            </div>
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/Ls3.avif' %}" alt="Kaya">
            <div class="drama-slide-overlay">
                <div class="drama-slide-title">UFF..YE LOVE HAI MUSHKIL</div>
                <div class="drama-slide-subtitle">DRAMA</div>
            </div>
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/Ls4.avif' %} "alt="Baatein Ye Pata Hai">
            <div class="drama-slide-overlay">
                <div class="drama-slide-title">AAHAT</div>
                <div class="drama-slide-subtitle">HORROR DRAMA</div>
            </div>
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/Ls5.avif' %}" alt="Barsatein">
            <div class="drama-slide-overlay">
                <div class="drama-slide-title">CID</div>
                <div class="drama-slide-subtitle">NEW SEASON</div>
            </div>
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/Ls6.avif' %}" alt="Katha">
            <div class="drama-slide-overlay">
                <div class="drama-slide-title">WAGLE KI DUNIYA</div>
                <div class="drama-slide-subtitle">FAMILY DRAMA</div>
            </div>
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/Ls7.avif' %}" alt="Show 7">
            <div class="drama-slide-overlay">
                <div class="drama-slide-title">CRIME PATROL</div>
                <div class="drama-slide-subtitle">CRIME</div>
            </div>
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/Ls8.avif' %}" alt="Pashminna">
            <div class="drama-slide-overlay">
                <div class="drama-slide-title">VEER HANUMAN</div>
                <div class="drama-slide-subtitle">MYTHOLOGICAL</div>
            </div>
        </div>
        
        <div class="drama-slide">
            <img src="{% static 'images/Ls9.avif' %}" alt="Show 9">
            <div class="drama-slide-overlay">
                <div class="drama-slide-title">PUSHPA IMPOSSIBLE</div>
                <div class="drama-slide-subtitle">DRAMA</div>
            </div>
        </div>
    </div>
</div>


{% endblock midcontent %}